<configuration>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="app/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="basic">
          <match url=""/>
          <action type="Rewrite" url="app/server.js" />
        </rule>
      </rules>
    </rewrite>
    
  </system.webServer>
</configuration>
